ifood.xcodeproj/xcuserdata
ifood.xcworkspace/xcuserdata
brands.xcodeproj/xcuserdata/
Pods/
.DS_Store
ifood.xcodeproj/project.xcworkspace/xcuserdata/
ifood.app.dSYM.zip
ifood.ipa
fastlane/brands/*/screenshots/*/*.png
*.mobileprovision
*.dSYM.zip
*.ipa
report.xml

# Romoving Python precompiled files
*.pyc

# Removing snapshots tests errors 
Tests/FailureDiffs/
